#u1773
{
	border-style: solid;
	border-color: #EDEDED;
	border-radius: 0px 12px 12px 0px ;
	-webkit-transform: matrix(0,-1,1,0,-61,101);
	-ms-transform: matrix(0,-1,1,0,-61,101);
	transform: matrix(0,-1,1,0,-61,101);
	border-width: 1px 1px 1px 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u1773:hover
{
	background: #EDEDED url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u1773:active
{
	background: #F7F7F7 url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u1770
{
	background-color: #EDEDED;
}

#u1772-4
{
	background-color: transparent;
	text-align: center;
	letter-spacing: 6px;
	line-height: 24px;
	color: #999999;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u2683-5
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u2683-2
{
	color: #FFFFFF;
}

#u3390
{
	background-color: transparent;
}


